* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  color: hsl(233, 8%, 62%);
}

body {
  width: 100vw;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  color: hsl(233, 26%, 24%);
  font-size: 40px;
}

h2 {
  color: hsl(233, 26%, 24%);
  font-size: 30px;
}

h3 {
  color: hsl(233, 26%, 24%);
  font-size: 20px;
}

h4 {
  color: hsl(233, 26%, 24%);
  font-size: 15px;
}

header {
  position: absolute;
  padding: 5px 100px;
  width: 100vw;
  background-color: hsl(0, 0%, 100%);
  z-index: 1;
}

.nav li {
  display: inline-block;
}

.nav li a {
  padding: 10px;
}

.nav li a::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -30px;
  height: 4px;
  background: hsl(192, 70%, 51%);
}

.nav li a:hover::after {
  width: 100%;
}

.drop-menu {
  outline: none;
  border: none;
  cursor: pointer;
  display: none;
}

.cross-menu {
  outline: none;
  border: none;
  cursor: pointer;
  display: none;
}

.request {
  border: none;
  outline: none;
  width: 10em;
  background-image: linear-gradient(
    to left,
    hsl(192, 70%, 51%),
    hsl(136, 65%, 51%)
  );
  margin: 20px 0;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

section {
  height: 90vh;
  width: 100vw;
  background-color: hsl(0, 0%, 98%);
}

section .container {
  height: 100%;
  width: 100%;
}

section .container div {
  padding: 100px 100px;
  width: 50%;
}

section picture {
  background-image: url("./images/bg-intro-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40px -40px;
}

section picture img {
  width: 90%;
  transform: translate(150px, 0);
}

main {
  padding: 100px 100px;
  width: 100vw;
  background-color: hsl(220, 16%, 96%);
}

.icon {
  padding: 10px;
  margin: 10px;
}

article {
  padding: 100px 100px;
  width: 100vw;
  background-color: hsl(0, 0%, 98%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  padding: 10px;
}

.card img {
  width: 100%;
  height: 200px;
}

.card figcaption {
  padding: 20px;
}

footer {
  padding: 20px 100px;
  width: 100vw;
  background-color: hsl(233, 26%, 24%);
  color: hsl(0, 0%, 100%);
}

.social-media {
  cursor: pointer;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 15px;
  }

  .wrapper {
    overflow-x: hidden;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header {
    all: unset;
    margin: auto;
    width: 100vw;
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    z-index: 2;
  }

  header .container {
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
  }

  .nav {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    background: hsl(0, 0%, 100%);
    width: 70%;
    box-shadow: 0px 0px 40px hsl(233, 26%, 24%);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 1;
    margin: auto;
  }

  .nav li {
    margin: 10px 0;
  }

  .nav li a {
    color: hsl(233, 26%, 24%);
    font-size: 20px;
  }

  .nav li a::after {
    bottom: -20px;
  }

  .drop-menu {
    display: block;
  }

  .cross-menu {
    display: none;
  }

  .active {
    display: flex;
  }

  .deactive {
    display: none;
  }

  header .request {
    display: none;
  }

  section {
    all: unset;
    background-color: hsl(0, 0%, 98%);
  }
  section .container {
    flex-direction: column-reverse;
  }

  section .container div {
    margin: auto;
    width: 100vw;
    text-align: center;
    font-size: 20px;
  }

  section .bg {
    background-size: 100vw;
  }

  section img {
    width: 90%;
  }

  main {
    width: 100vw;
    text-align: center;
    padding: 40px;
  }
  .icon {
    margin: auto;
  }

  article {
    /* all: unset; */
    width: 100vw;
    padding: 40px;
    background-color: hsl(0, 0%, 98%);
  }
  .card {
    margin-top: 20px;
  }

  .card img {
    width: 100%;
    height: auto;
  }

  footer {
    padding: 30px;
    text-align: center;
    margin: auto;
  }
  footer div {
    margin-top: 5px;
  }
}
